<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>Petition</title>
    </head>

    <body style="margin:50px">
        <nav class="nav-main">
            <a href="/home"><img
                    class="home"
                    src="https://icon-library.com/images/house-icon-white/house-icon-white-22.jpg"
                    alt=""
                /></a>
        </nav>
        <main>
            {{{body}}}
        </main>

        <br />

        {{! <footer style="margin:50px">Petition 2022</footer> }}

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="./canvas.js"></script>
    </body>
</html>