<h1>🌈 YOUR INFORMATION HAS BEEN SUCCESSFULLY UPDATED🌈</h1>

<div>
    <a href="/home"><button class="submit" type="submit">HOME</button></a>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="./request.js"></script>
</div>