<h1>🌈 SIGN OUR PETITION TO MAKE SENIOR DEVELOPERS LESS ARROGANT AND EMPATHIZE
    WITH THE PEOPLE WHO ARE LEARNING PROGRAMMING🌈</h1>
<div class="not-cool"></div>
<div>
    <p> {{err}}</p>

    <form style="margin:50px" method="POST">
        {{! <label for="first">First Name</label>
        <input type="text" name="first"></input>
        <label for="last">Last Name</label>
        <input type="text" name="last"></input> }}
        {{! <input name="password" value="trustno1" /> }}

        <canvas id="canvas" width="200" height="100"></canvas>
        <label style="margin-left:125px" for="signature">Sign Here</label>
        <input id="input-sig" name="signature" type="hidden" />
        <button class="submit" type="submit">submit</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="./canvas.js"></script>
    <script src="./request.js"></script>
</div>