<h1>🌈 REGISTER🌈</h1>
<div class="not-cool"></div>
<div>

    <form style="margin:50px" method="POST">
        <label for="first">First Name</label>
        <input type="text" name="first"></input>
        <label for="last">Last Name</label>
        <input type="text" name="last"></input>
        <label for="email">Email</label>
        <input type="email" name="email"></input>
        <label for="password">Password</label>
        <input type="password" name="password"></input>
        {{! <input name="password" value="trustno1" /> }}
        
    <div class="div-button">
        <button class="submit" type="submit">REGISTER</button>
    </div>
    </form>
      <a href="/login"><button class="submit" type="submit">LOGIN</button></a>  
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="./request.js"></script>
</div>