<h1>Thanks</h1>
<div class="thanks"></div>
<div>
    
    <div class="thanks-container">
            <div class="signatures-list">
                
        <a href="/signers">See all {{numberOfSigners}} signatures</a>   
                    {{#rows}}
                       <br>
                           <br>
                            <img class="sign-img" src="{{signature}}" alt="" />
                     
                    {{/rows}}
            </div>
        
    </div>
        {{!-- <button>Back to Petition</button> --}}
       
    </form>
     <form method="POST" action="/petition/deletesignature">
            <button style="background-color: rgb(241, 117, 117);">Delete signature</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</div>