<h1>🌈 Thanks🌈</h1>
<div class="thanks"></div>
<div>
    <br>
    <br>
    <br>
    <div><a href="http://localhost:8080/signers">See all signatures
        <div class="signatures-list">
            {{#id}}
                {{first}}
            {{/id}}
        </div>
        </a>
    </div>
        {{!-- <button>Back to Petition</button> --}}
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</div>