<h1>🌈 Thanks🌈</h1>
<div class="thanks"></div>
<div>
    
    <div class="thanks-container">
        <a href="http://localhost:8080/signers">See all signatures
            <div class="signatures-list">
                
                    {{#rows}}
                       <br>
                           {{first}} {{last}}
                           <br>
                            <img class="sign-img" src="{{signature}}" alt="" />
                     
                    {{/rows}}
                
            </div>
        </a>
    </div>
        {{!-- <button>Back to Petition</button> --}}
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</div>