canvas {
    border: solid violet;
    margin: 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 25px;
}
.not-cool {
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image: url("./giphy.gif");
    background-size: cover;
}

.thanks {
    padding: 0;
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 500px;
    background-image: url("./thanks.gif");
    background-image: url("./thanks.gif");
}

form {
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin: 10px 0;
}

body {
    font-size: 25px;
    background-color: rgb(187, 240, 218);
    cursor: url("./pen.png"), default;
    color: white;
    color: #2ea15a;
}

.logout {
    background-color: transparent; /* Green */
    border-radius: none;
    border: none;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.sign-img {
    border: solid rgb(99, 19, 99) 2px;
    width: 300px;
    height: 200px;
    margin: 20px 0;
    background-color: rgb(202, 227, 241);
}
button {
    margin: 10px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:after {
    content: "";
    color: white;

    background-color: #5acf87;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

button:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    button {
        padding: 13px 50px 13px;
    }
}
.div-button {
    display: flex;

    justify-content: space-between;
    margin: 40px 0;
}

.thanks-container {
    text-align: center;
}

.signed {
    text-align: center;
}

.home {
    width: 50px;
    height: 50px;
}
